/* styles.module.scss */

.container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f0f2f5;
  border: 1px solid #ccc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;

  @media (max-width: 970px) {
    width: 100%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 1rem;

  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}

.studioInfo {
  p {
    font-size: 1.1rem;
  }
}

.contactInfo {
  p {
    font-size: 1rem;
    font-weight: 600;
  }
}

.link {
  color: black;
  text-decoration: none;
}
