/* Header.module.scss */

.header {
  width: 80%;
  margin: 0 auto;
  padding: 1rem;
  background-color: #f0f2f5;
  border: 1px solid #ccc;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 970px) {
    width: 100%;
  }
}

.studioInfo {
  flex: 2;
}

.contactInfo {
  flex: 1;
}
