@import "./variables.scss";

#root {
  background: $background-gradient;
  position: relative;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

.div-footer {
  background: $footer-gradient;
  margin-top: auto; /* Adicionado para alinhar no final */
}
