@import "./variables.scss";

.profilePage {
  /* Adicione estilos para o container principal */
  width: 1500px;
  margin: 0 auto;
  padding: 2rem 4rem;
  border-radius: 0.5rem;

  @media (min-width: 2080px) {
    width: 1800px;
  }
  @media (max-width: 1510px) {
    width: 1200px;
  }

  @media (max-width: 1230px) {
    width: 900px;
  }

  @media (max-width: 920px) {
    width: 700px;
  }

  @media (max-width: 767px) {
    width: 400px;
  }

  @media (max-width: 410px) {
    width: 280px;
  }
}

.postContainer {
  display: grid;
  gap: 1rem; /* Espaço entre os cards */

  @media (max-width: 767px) {
    /* Mostrar 1 post por linha em dispositivos menores que 768px */
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 767px) and (max-width: 1230px) {
    /* Mostrar 2 posts por linha em dispositivos entre 768px e 1023px */
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1230px) {
    /* Mostrar 3 posts por linha em dispositivos maiores ou iguais a 1024px */
    grid-template-columns: repeat(3, 1fr);
  }
}

.postCol {
  padding: 0;
  /* Ajuste os estilos da coluna do post */
}

.div-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 2rem 0;

  button {
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translateX(10px);
    }
  }

  .criar-text {
    text-decoration: none;
    color: white;
  }

  .botao-circular {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $blue-main;
    cursor: pointer;
    transition: background-color 0.3s ease;

    // Adicionando o ícone do Bootstrap Icons

    font-size: 1.5em; // Ajuste o tamanho do ícone conforme necessário
    color: $text-main;

    // Efeito de hover
    &:hover {
      background-color: $blue-lighter;
    }
  }
}
