/* StudioSearchPage.module.scss */
@import "./variables.scss";
h2,
h3 {
  padding-top: 1rem;
  text-align: center;
}
.search-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 1rem 1rem 1rem;

  .search-group {
    padding: 1rem;

    @media (max-width: 470px) {
      padding: 1rem 0 1rem 0;
    }

    .inp-search {
      padding: 0.2rem;
      flex: 1;
      font-size: 14px;
      background-color: $background-secondary;
      border: 0.5px solid $text-secondary;

      @media (max-width: 470px) {
        padding: 0.2rem 0 0.2rem 0;
      }
    }
    .icon {
      padding: 0.2rem;

      @media (max-width: 470px) {
        padding: 0.2rem 0 0.2rem 0;
      }

      &:hover {
        cursor: pointer;
      }
    }
  }
}

.estudios {
  background-color: $background-secondary;
  min-height: 90vh;
}

/* search.scss */
