.stylesPage {
  /* Adicione estilos para o container principal */
  width: 1200px;
  margin: 0 auto;
  padding: 2rem 4rem;
  border-radius: 0.5rem;

  @media (min-width: 2080px) {
    width: 1800px;
  }

  @media (max-width: 1230px) {
    width: 700px;
  }

  @media (max-width: 767px) {
    width: 350px;
  }

  @media (max-width: 410px) {
    width: 280px;
  }
}

.styleContainer {
  display: grid;
  gap: 1rem; /* Espaço entre os cards */

  @media (max-width: 767px) {
    /* Mostrar 1 post por linha em dispositivos menores que 768px */
    grid-template-columns: repeat(1, 1fr);
  }

  @media (min-width: 767px) and (max-width: 1230px) {
    /* Mostrar 2 posts por linha em dispositivos entre 768px e 1023px */
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 1230px) {
    /* Mostrar 3 posts por linha em dispositivos maiores ou iguais a 1024px */
    grid-template-columns: repeat(3, 1fr);
  }
}

.styleCol {
  padding: 0;
  /* Ajuste os estilos da coluna do post */
}

.btn-custom {
  transition: transform 0.3s ease-out;

  &:hover {
    transform: translateX(10px);
  }
}
