// Cores Principais
$blue-main: #007bff;
$blue-secondary: #003366;
$blue-lighter: #5faee3;

// Cor Adicional
$additional-color: #8a2be2; // Violeta

// Cores de Texto
$text-main: #000000; // Preto
$text-secondary: #333333; // Preto mais claro

// Fundos
$background-main: #ffffff; // Branco
$background-secondary: #f0f0f0; // Branco levemente mais escuro

$blue1: #498cff;
$blue2: #a0c3ff;

$nav-gradient: linear-gradient(to right, $blue-main, $blue-secondary);
