$background-gradient: linear-gradient(
  to right,
  rgba(220, 255, 254, 0.8),
  rgba(180, 248, 247, 0.8),
  rgba(138, 192, 192, 0.8)
);

$blue1: #498cff;
$blue2: #a0c3ff;

$footer-gradient: linear-gradient(to right, #007bff, #003366);

$card-background: linear-gradient(to bottom, #ffffff, #dbdbdb);

$card-gradient: linear-gradient(to bottom, #7cc3ef, #c7abf7);
