@import "../../../styles/variables.scss";

.cardPost {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  background: lighten($color: $background-secondary, $amount: 5%);
  display: flex;
  flex-direction: column;
  position: relative;

  .imageContainer {
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    height: 70%; // Ajuste a altura da imagem conforme necessário

    .card-img-top {
      width: 100%;
      height: auto;
      max-height: 100%; // Garante que a imagem não ultrapasse a altura definida para .imageContainer
      border-radius: 0.5rem 0.5rem 0 0; // Adiciona borda arredondada apenas na parte superior
    }
  }

  .card-body {
    height: 30%; // Ajuste a altura do card-body conforme necessário
    display: flex;
    flex-direction: column; // Adicionado para garantir que o card-text fique abaixo dos botões
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    .card-text-container {
      flex-grow: 1; // Adicionado para ocupar o espaço disponível

      .card-text {
        margin: 0; // Adicionado para remover margens padrão
      }
    }

    .button {
      transition: 0.3s ease;
      width: 4rem;
      height: 4rem;
      background: transparent;
      text-decoration: none;
      margin: 0.5rem;
      cursor: pointer;
      padding: 1rem;
      border: 1px solid $blue-secondary;
      border-radius: 50%; // Agora o botão será redondo

      &:hover {
        background: $blue-main;
        cursor: pointer;
      }

      &.redButton {
        &:hover {
          background: #f91818;
        }
      }

      .icon {
        font-size: 1.6rem;
        color: $text-main;
        padding: 1rem;
        border: 1px solid $blue-secondary;
        border-radius: 50%; // Agora o botão será redondo
      }
    }
  }
}
