@import "../../../styles/variables.scss";

.cardPost {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  background: lighten($color: $background-secondary, $amount: 5%);
  display: flex;
  flex-direction: column;
  position: relative;

  .imageContainer {
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    height: 70%;

    .card-img-top {
      width: 100%;
      height: auto;
      max-height: 100%;
      border-radius: 0.5rem 0.5rem 0 0;
    }
  }

  .card-body {
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    @media (max-width: 410px) {
      padding: 0.5rem;
    }

    .card-text-container {
      flex-grow: 1;

      .card-text {
        margin: 0;
        font-weight: 600;
      }
    }
  }
}

.botaoContainer {
  display: flex;
  gap: 10px; // Ajuste o espaçamento conforme necessário
  align-items: center;
  justify-content: center;

  .botaoCircular {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid $blue-main;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 5px;
    margin-right: 15px;
    // Adicionando o ícone do Bootstrap Icons

    font-size: 1.5em; // Ajuste o tamanho do ícone conforme necessário
    color: $text-main;

    @media (max-width: 410px) {
      padding: 0.25rem;
      font-size: 1.2rem;
    }

    // Efeito de hover
    &:hover {
      background-color: $blue-lighter;
    }

    &.vermelho {
      &:hover {
        background-color: #fb2424;
      }
    }
  }
}
