.cardPost {
  width: 100%;
  text-align: center;
  border-radius: 0.5rem;
  background: lighten($color: $background-secondary, $amount: 5%);
  display: flex;
  flex-direction: column;
  position: relative;

  .imageContainer {
    overflow: hidden;
    flex-shrink: 0;
    position: relative;
    height: 70%; // Ajuste a altura da imagem conforme necessário

    .card-img-top {
      width: 100%;
      height: auto;
      max-height: 100%; // Garante que a imagem não ultrapasse a altura definida para .imageContainer
    }
  }

  .card-body {
    height: 30%; // Ajuste a altura do card-body conforme necessário
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    flex-direction: column; // Adicionado para garantir que o card-text fique abaixo dos botões
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    .card-text-container {
      flex-grow: 1; // Adicionado para ocupar o espaço disponível

      .card-text {
        margin: 0; // Adicionado para remover margens padrão
      }
    }

    .button {
      padding: 0;
      border: none;
      background-color: transparent;
    }

    .icon {
      font-size: 1.2rem;
      padding: 0 0.3rem;
    }
  }
}
