.imgWrapper {
  height: 76vh;
  max-height: 596px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.filtro {
  filter: brightness(90%);
}

@media (max-width: 1024px) {
  .imgWrapper {
    height: 65vh;
  }
}

@media (max-width: 700px) {
  .imgWrapper {
    height: 45vh;
  }
}

@media (max-width: 500px) {
  .imgWrapper {
    height: 35vh;
  }
}
