/* StudioCard.module.scss */

@import "../../../styles/variables.scss";

.studio-card {
  margin: 0 auto 0.4rem auto;
  width: 90%;
  display: flex;
  align-items: center;
  padding: 1rem;
  background-color: $blue-lighter;
  border: 1px solid $background-main;
  border-radius: 8px;
  flex-direction: row;
  @media (max-width: 540px) {
    flex-direction: column;
  }

  .studio-info {
    flex: 1;
  }

  .studio-name {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .studio-location {
    font-size: 1rem;
    color: $text-main;
  }

  .div-btn {
    display: flex;
    flex-direction: column;
    gap: 5px;

    .btn {
      padding: 0.5rem 1rem;
      background-color: $blue-main;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $blue-secondary;
      }

      .link {
        color: #fff;
        text-decoration: none;
      }
    }
  }
}
