@import "../../../styles/variables.scss";

.accountDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .accountCard {
    background: $blue-lighter;
    border: 1px solid black;
  }

  @media (max-width: 540px) {
    width: 280px;
    margin: 0 auto;
  }
}
