.errorContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 96vh;
  text-align: center;

  .errorTitle {
    font-size: 3rem;
    color: #ff5733;
    margin-bottom: 1rem;
  }

  .errorDescription {
    font-size: 1.2rem;
    color: #333;
  }

  .buttonContainer {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }

  .button {
    background-color: #ff5733;
    color: white;
    border: none;
    border-radius: 0.3rem;
    padding: 0.5rem 1rem;
    margin: 0 0.5rem;
    cursor: pointer;
    transition: transform 0.3s ease-out;

    &:hover {
      transform: translateX(10px);
    }
  }
}
